@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    list-style: none;
}
p {
    margin: 0;
}

.maxContent {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

//home carousel
.react-multiple-carousel__arrow--right::before {
    content: "🡢";
    color: #2e2d37;
    font-size: 18px;
    font-weight: 700;
}
.react-multiple-carousel__arrow--left::before {
    content: "🡠";
    color: #2e2d37;
    font-size: 18px;
    font-weight: 700;
}
.react-multiple-carousel__arrow {
    background-color: rgba(255, 255, 255, .5);
}
.react-multiple-carousel__arrow:hover {
    background-color: rgba(255, 255, 255, 1);
}
.react-multiple-carousel__arrow--right {
    right: calc(0% + 1px);
}
.react-multiple-carousel__arrow--left {
    left: calc(0% + 1px);
}