.header {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    padding: 0 40px;

    nav {
        ul {
            display: flex;

            li {
                padding: 0 1rem;

                a {
                    color: #2e2d37;
                    font-size: 12px;
                    font-weight: 500;               
                }
            }
        }
    }

    .header-nav {
        position: relative;
        font-family: 'Poppins', sans-serif;

        ul {
            li {
                padding: 0;
                border-bottom: 4px solid transparent;

                button {
                    padding: 1.4rem 1rem;
                    background-color: transparent;
                    border: none;
                    font-family: 'Poppins', sans-serif;
                    color: #2e2d37;
                    cursor: pointer;
                }

                &:hover {
                    border-bottom: 4px solid #e11138;
                }
            }
        }

        .header-nav-sub {
            top: 83px;
            left: 0;
            position: absolute;
            background-color: #ffffff;
            border: 1px solid #d5d5d5;
            z-index: 2;

            ul {
                li {
                    list-style: none;
                    
                    &::marker {
                        content: '';
                    }
                }
            }

            .header-nav-sub-item {
                
                &:hover {
                    background-color: #ececec;
                }                

                p {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 6px;
                    }
                }
            }
            .ListItemLink {
                padding: 16px 28px;
                display: block;
                color: #2e2d37;
                font-size: 12px;
            }
        }
        .header-nav-sell {
            left: 10%;
        }
        .header-nav-sell {
            left: 15%;
        }
        .header-nav-services {
            left: 25%;
        }
        .header-nav-news {
            left: 56%;
        }
        .header-nav-help {
            left: 80%;
        }
    }

    .header-login {
        display: flex;
        align-items: center;
        padding: 0 1rem;
        border-left: 1px solid #e5e7eb;
        height: 100%;
        font-family: 'Poppins', sans-serif;

        .header-login-div {
            display: flex;
            position: relative;

            li {
                padding: 0;

                button {
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    font-family: 'Poppins', sans-serif;
                    cursor: pointer;
                }
            }
        }

        .header-login-div-sub {
            position: absolute;
            background-color: #ffffff;
            padding: 1rem;
            width: 120px;

            li {
                height: max-content;
                display: block;
                padding: 1rem 0;

                a {
                    height: max-content;
                    display: block;
                }
                p {
                    display: flex;
                    align-items: center;

                    svg {
                        margin-right: 6px;
                    }
                }
            }
        }

        svg {
            width: 24px;
            height: 24px;
            display: block;
        }

        a {
            padding: 0 .5rem;
            transition: all 100ms ease-in;

            &:hover {
                opacity: .6;
            }
        }
    }
}